
<%= form_with model: @product do |form|%>

    <% if form.object.errors.any?%>
        <p class="error"> <%= form.object.errors.full_messages.first %> </p>
    <%end%>

    <%# Name input %>
    <div>
        <%= form.label :name%>
        <%= form.text_field :name%>
        <%= form.rich_textarea :description%>
    </div>

    <%# Image input %>
    <div>
        <%= form.label :featured_image, style: "display: block"%>
        <%= form.file_field :featured_image, accept: "image/*"%>
    </div>

    <%# Inventory count input %>
    <div>
        <%= form.label :inventory_count, style: "display:block"%>
        <%= form.number_field :inventory_count%>
    <div>
        <%= form.submit%>
    </div>

<%= link_to "Cancel", products_path%>

<%end%>